    <div class="grid md:grid-cols-3 gap-x-6 xl:gap-x-12 items-center mb-12">
      <div class="mb-8 md:mb-0">
        <div
          class="col-span-1 relative overflow-hidden bg-no-repeat bg-cover relative overflow-hidden bg-no-repeat bg-cover ripple shadow-lg rounded-lg"
          >
                     <% unless article.image.empty? %>
           <%= image_tag(article.image, alt: '',class: 'border rounded w-max-full h-auto')%>
           <% else %>
           <%= image_tag("web/enduroMonster_large.png", alt: '', class: 'border rounded w-maxx-full h-auto', style: '')%>
           <% end %>
          <a href="<%= post_path(article.slug) %>">
            <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed opacity-0 hover:opacity-100 transition duration-300 ease-in-out"
              style="background-color: rgba(251, 251, 251, 0.2)"></div>
          </a>
        </div>
      </div>
      <div class="col-span-2 mb-6 md:mb-0">
              <div class="mb-3 text-gray-600 font-medium text-sm flex items-center justify-center md:justify-start">
          [ <%= article.category.upcase %> ]
        </div>
        <a href="<%= post_path(article.slug) %>" class="text-3xl font-bold mb-3"><%= article.title %></a>
        <p><a href="<%= post_path(article.slug) %>" class="text-gray-500">
          <%= article.brief %>
        </a>
        <p>
        <p class="text-gray-500 mb-6">
          <small>Published <u><%= article.updated_at %></u> by
            <a href="<%= post_path(article.slug) %>" class="text-gray-900">Evaldas</a></small>
        </p>

      </div>
    </div>